In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
spark

### Importando datos con PySpark

In [ ]:
spark.read.csv("telco_customer_churn.csv")

In [ ]:
df=spark.read.csv("telco_customer_churn.csv")

In [ ]:
type(df)

In [7]:
df.show(5)     # Muestra los datos pero no se puede pasar a Pandas

+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
|       _c0|   _c1|          _c2|    _c3|       _c4|   _c5|         _c6|             _c7|            _c8|           _c9|        _c10|            _c11|       _c12|       _c13|           _c14|          _c15|            _c16|                _c17|          _c18|        _c19| _c20|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
|customerID|gender|SeniorCitizen|Partner|Dependents|tenure|PhoneService|   MultipleLines|InternetService|OnlineSecurity|OnlineBackup|DeviceProtection|TechSupport|StreamingTV|StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|MonthlyCharges|TotalCharges|Churn|
|7590-VHVEG|Female|            0|    Yes|        No|     1|          No|No phone service|            DSL|            No|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|    Electronic check|         29.85|       29.85|   No|
|5575-GNVDE|  Male|            0|     No|        No|    34|         Yes|              No|            DSL|           Yes|          No|             Yes|         No|         No|             No|      One year|              No|        Mailed check|         56.95|      1889.5|   No|
|3668-QPYBK|  Male|            0|     No|        No|     2|         Yes|              No|            DSL|           Yes|         Yes|              No|         No|         No|             No|Month-to-month|             Yes|        Mailed check|         53.85|      108.15|  Yes|
|7795-CFOCW|  Male|            0|     No|        No|    45|          No|No phone service|            DSL|           Yes|          No|             Yes|        Yes|         No|             No|      One year|              No|Bank transfer (au...|          42.3|     1840.75|   No|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
only showing top 5 rows

In [8]:
df.head(5)

[Row(_c0='customerID', _c1='gender', _c2='SeniorCitizen', _c3='Partner', _c4='Dependents', _c5='tenure', _c6='PhoneService', _c7='MultipleLines', _c8='InternetService', _c9='OnlineSecurity', _c10='OnlineBackup', _c11='DeviceProtection', _c12='TechSupport', _c13='StreamingTV', _c14='StreamingMovies', _c15='Contract', _c16='PaperlessBilling', _c17='PaymentMethod', _c18='MonthlyCharges', _c19='TotalCharges', _c20='Churn'),
 Row(_c0='7590-VHVEG', _c1='Female', _c2='0', _c3='Yes', _c4='No', _c5='1', _c6='No', _c7='No phone service', _c8='DSL', _c9='No', _c10='Yes', _c11='No', _c12='No', _c13='No', _c14='No', _c15='Month-to-month', _c16='Yes', _c17='Electronic check', _c18='29.85', _c19='29.85', _c20='No'),
 Row(_c0='5575-GNVDE', _c1='Male', _c2='0', _c3='No', _c4='No', _c5='34', _c6='Yes', _c7='No', _c8='DSL', _c9='Yes', _c10='No', _c11='Yes', _c12='No', _c13='No', _c14='No', _c15='One year', _c16='No', _c17='Mailed check', _c18='56.95', _c19='1889.5', _c20='No'),
 Row(_c0='3668-QPYBK', _c1='Male', _c2='0', _c3='No', _c4='No', _c5='2', _c6='Yes', _c7='No', _c8='DSL', _c9='Yes', _c10='Yes', _c11='No', _c12='No', _c13='No', _c14='No', _c15='Month-to-month', _c16='Yes', _c17='Mailed check', _c18='53.85', _c19='108.15', _c20='Yes'),
 Row(_c0='7795-CFOCW', _c1='Male', _c2='0', _c3='No', _c4='No', _c5='45', _c6='No', _c7='No phone service', _c8='DSL', _c9='Yes', _c10='No', _c11='Yes', _c12='Yes', _c13='No', _c14='No', _c15='One year', _c16='No', _c17='Bank transfer (automatic)', _c18='42.3', _c19='1840.75', _c20='No')]

In [9]:
L=df.head(5)

In [10]:
#Cabecera
L[0]

Row(_c0='customerID', _c1='gender', _c2='SeniorCitizen', _c3='Partner', _c4='Dependents', _c5='tenure', _c6='PhoneService', _c7='MultipleLines', _c8='InternetService', _c9='OnlineSecurity', _c10='OnlineBackup', _c11='DeviceProtection', _c12='TechSupport', _c13='StreamingTV', _c14='StreamingMovies', _c15='Contract', _c16='PaperlessBilling', _c17='PaymentMethod', _c18='MonthlyCharges', _c19='TotalCharges', _c20='Churn')

### Exportando a Pandas

In [12]:
df.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19,_c20
0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No

In [13]:
## leer sin cabecera
df=spark.read.csv("telco_customer_churn.csv",header=True)

In [14]:
df.limit(5).toPandas()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.7,151.65,Yes

In [15]:
df.dtypes        # PROBLEMA: Considera todas las variables como string

[('customerID', 'string'),
 ('gender', 'string'),
 ('SeniorCitizen', 'string'),
 ('Partner', 'string'),
 ('Dependents', 'string'),
 ('tenure', 'string'),
 ('PhoneService', 'string'),
 ('MultipleLines', 'string'),
 ('InternetService', 'string'),
 ('OnlineSecurity', 'string'),
 ('OnlineBackup', 'string'),
 ('DeviceProtection', 'string'),
 ('TechSupport', 'string'),
 ('StreamingTV', 'string'),
 ('StreamingMovies', 'string'),
 ('Contract', 'string'),
 ('PaperlessBilling', 'string'),
 ('PaymentMethod', 'string'),
 ('MonthlyCharges', 'string'),
 ('TotalCharges', 'string'),
 ('Churn', 'string')]

In [16]:
##  inferir el tipo de variable: inferSchema
df=spark.read.csv("telco_customer_churn.csv",header=True,inferSchema=True)

In [17]:
df.dtypes

[('customerID', 'string'),
 ('gender', 'string'),
 ('SeniorCitizen', 'int'),
 ('Partner', 'string'),
 ('Dependents', 'string'),
 ('tenure', 'int'),
 ('PhoneService', 'string'),
 ('MultipleLines', 'string'),
 ('InternetService', 'string'),
 ('OnlineSecurity', 'string'),
 ('OnlineBackup', 'string'),
 ('DeviceProtection', 'string'),
 ('TechSupport', 'string'),
 ('StreamingTV', 'string'),
 ('StreamingMovies', 'string'),
 ('Contract', 'string'),
 ('PaperlessBilling', 'string'),
 ('PaymentMethod', 'string'),
 ('MonthlyCharges', 'double'),
 ('TotalCharges', 'string'),
 ('Churn', 'string')]

In [18]:
df.limit(5).toPandas().transpose()

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [19]:
df.describe()      # Estadísticas descriptivas básicas

DataFrame[summary: string, customerID: string, gender: string, SeniorCitizen: string, Partner: string, Dependents: string, tenure: string, PhoneService: string, MultipleLines: string, InternetService: string, OnlineSecurity: string, OnlineBackup: string, DeviceProtection: string, TechSupport: string, StreamingTV: string, StreamingMovies: string, Contract: string, PaperlessBilling: string, PaymentMethod: string, MonthlyCharges: string, TotalCharges: string, Churn: string]

In [20]:
df.describe().toPandas()

,summary,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,count,7043,7043,7043,7043,7043,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
1,mean,None,None,0.1621468124378816,None,None,32.37114865824223,None,None,None,...,None,None,None,None,None,None,None,64.76169246059922,2283.3004408418697,None
2,stddev,None,None,0.3686116056100135,None,None,24.559481023094442,None,None,None,...,None,None,None,None,None,None,None,30.090047097678482,2266.771361883145,None
3,min,0002-ORFBO,Female,0,No,No,0,No,No,DSL,...,No,No,No,No,Month-to-month,No,Bank transfer (automatic),18.25,,No
4,max,9995-HOTOH,Male,1,Yes,Yes,72,Yes,Yes,No,...,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,118.75,999.9,Yes

In [21]:
df.columns

['customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

In [22]:
df.select('Churn')

DataFrame[Churn: string]

In [24]:
df.select('Churn').show(5)      # Columnas específicas

+-----+
|Churn|
+-----+
|   No|
|   No|
|  Yes|
|   No|
|  Yes|
+-----+
only showing top 5 rows

In [25]:
df.select('Churn').limit(5).toPandas()

  Churn
0    No
1    No
2   Yes
3    No
4   Yes

In [26]:
df.select(['customerID','gender','Churn']).show(5)

+----------+------+-----+
|customerID|gender|Churn|
+----------+------+-----+
|7590-VHVEG|Female|   No|
|5575-GNVDE|  Male|   No|
|3668-QPYBK|  Male|  Yes|
|7795-CFOCW|  Male|   No|
|9237-HQITU|Female|  Yes|
+----------+------+-----+
only showing top 5 rows

In [28]:
df2=df.drop('gender')      # Elimina la columna gender

In [30]:
df2.limit(5).toPandas()

,customerID,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [33]:
df.withColumnRenamed('customerID','ID').columns

['ID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

## Cambiando nombre de entorno

In [34]:
spark.stop()            # Deterner la session actual

In [35]:
spark2=SparkSession.builder.appName('Big Data').getOrCreate()

In [36]:
spark2

In [37]:
df=spark2.read.csv("telco_customer_churn.csv",header=True,inferSchema=True)

In [40]:
df.dtypes

[('customerID', 'string'),
 ('gender', 'string'),
 ('SeniorCitizen', 'int'),
 ('Partner', 'string'),
 ('Dependents', 'string'),
 ('tenure', 'int'),
 ('PhoneService', 'string'),
 ('MultipleLines', 'string'),
 ('InternetService', 'string'),
 ('OnlineSecurity', 'string'),
 ('OnlineBackup', 'string'),
 ('DeviceProtection', 'string'),
 ('TechSupport', 'string'),
 ('StreamingTV', 'string'),
 ('StreamingMovies', 'string'),
 ('Contract', 'string'),
 ('PaperlessBilling', 'string'),
 ('PaymentMethod', 'string'),
 ('MonthlyCharges', 'double'),
 ('TotalCharges', 'string'),
 ('Churn', 'string')]

In [44]:
L=df.dtypes

In [45]:
L[0]

('customerID', 'string')

In [51]:
for col in L:
    nC,dt=col
    if dt=='string':
        print("Nombre de la columna: ",nC)
        print("Tipo de dato: ",dt)

Nombre de la columna:  customerID
Tipo de dato:  string
Nombre de la columna:  gender
Tipo de dato:  string
Nombre de la columna:  Partner
Tipo de dato:  string
Nombre de la columna:  Dependents
Tipo de dato:  string
Nombre de la columna:  PhoneService
Tipo de dato:  string
Nombre de la columna:  MultipleLines
Tipo de dato:  string
Nombre de la columna:  InternetService
Tipo de dato:  string
Nombre de la columna:  OnlineSecurity
Tipo de dato:  string
Nombre de la columna:  OnlineBackup
Tipo de dato:  string
Nombre de la columna:  DeviceProtection
Tipo de dato:  string
Nombre de la columna:  TechSupport
Tipo de dato:  string
Nombre de la columna:  StreamingTV
Tipo de dato:  string
Nombre de la columna:  StreamingMovies
Tipo de dato:  string
Nombre de la columna:  Contract
Tipo de dato:  string
Nombre de la columna:  PaperlessBilling
Tipo de dato:  string
Nombre de la columna:  PaymentMethod
Tipo de dato:  string
Nombre de la columna:  TotalCharges
Tipo de dato:  string
Nombre de la columna:  Churn
Tipo de dato:  string

In [54]:
var_cat=[nC for nC,dt in df.dtypes if dt=='string']    # Se queda con el nombre de la columna (nC) que son string

In [61]:
var_cat

['customerID',
 'gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'TotalCharges',
 'Churn']

In [59]:
var_num=[nC for nC,dt in df.dtypes if dt in ['int','double']]

In [60]:
var_num

['SeniorCitizen', 'tenure', 'MonthlyCharges']

In [65]:
var_cat.remove('TotalCharges')
var_num.append('TotalCharges')

In [68]:
var_num

['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [70]:
df.select(var_num).describe().toPandas()

,summary,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
0,count,7043,7043,7043,7043
1,mean,0.1621468124378816,32.37114865824223,64.76169246059922,2283.3004408418697
2,stddev,0.3686116056100135,24.559481023094442,30.090047097678482,2266.771361883145
3,min,0,0,18.25,
4,max,1,72,118.75,999.9

In [77]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
from pyspark.ml import pipeline